.blindbox-list {
    display: grid;
    gap: 16px;
    padding: 16px;
}

.boxCard {
    border: 1px black solid;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 0 10px 4px #efefef;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.figureName {
    font-size: 16px; 
}

.figure {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}
