.blindbox-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    padding: 16px;
}

.boxCard {
    border: 1px black solid;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    box-shadow: 0 0 10px 4px #efefef;
}

.figureName {
    font-size: 16px; 
}

.figure {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

